<div ng-controller="CreatePageCtrl as create">
<h1>DECK NAME: <input ng-model="create.newDeck.deckname" required /></h1>

<div>
  <createform>
    <label class="left-edit">Front<input ng-model="create.newCard.front" required ></label><br>
    <label class="right-edit">Back<input ng-model="create.newCard.back" required ></label><br>
    <button ng-click="create.addCard(create.newCard)">Add Card</button>
  </createform>
</div>

<div>
  <cardlist ng-repeat="card in create.newDeck.cards" >
<!--     <div ng-click="edit.activateEdit(card)" ng-if="!edit.showEdit">
      <div class="card left-edit">{{card.front}}</div>
      <div class="card right-edit">{{card.back}}</div>
    </div> -->

  <editform>
    <label class="left-edit">Front<input ng-model="card.front"></label><br>
    <label class="right-edit">Back<input ng-model="card.back"></label><br>
  </editform>
  </cardlist>
</div>

<button type="button" ng-click="create.handleSave()">Click to Save the Deck</button>
</div>
