<div ng-controller="CreatePageCtrl as create">
  <div class="container">

    <h3>DECK NAME: <input placeholder="Enter a deck name" ng-model="create.newDeck.deckname" required /></h3>
    <div class="row">
      <div class="col-xs-5 flashcard">
        <h4>Question</h4>
        <hr>
        <textarea placeholder="Enter a question" ng-model="create.newCard.front"></textarea>
      </div>

      <div class="col-xs-5 flashcard">
        <h4>Answer</h4>
        <hr>
        <textarea placeholder="Enter the answer" ng-keyup="$event.keyCode == 13 && create.addCard(create.newCard)" ng-model="create.newCard.back"></textarea>
      </div>
    </div>

    <button class="btn btn-primary" ng-click="create.addCard(create.newCard)">Add card</button>

    <hr>

    <div ng-repeat="card in create.newDeck.cards"> <!-- Start of list of currently made cards -->
      <div class="row">
        <div class="col-xs-5 flashcard">
          <h4>Question</h4>

          <div class="codeToggleBtn">
            <button ng-click="create.toggleHighlightFront(card)" ng-class="{'btn': card.plaintextFront, 'btn btn-primary': !card.plaintextFront}">
              <span class="fa fa-code"></span>
            </button>
          </div>

          <hr>
          <textarea placeholder="Enter a question" ng-model="card.front"></textarea>
        </div>

        <div class="col-xs-5 flashcard">
          <h4>Answer</h4>

          <div class="codeToggleBtn">
            <button ng-click="create.toggleHighlightBack(card)" ng-class="{'btn': card.plaintextBack, 'btn btn-primary': !card.plaintextBack}">
              <span class="fa fa-code"></span>
            </button>
          </div>

          <hr>
          <textarea placeholder="Enter the answer" ng-model="card.back"></textarea>
        </div>
      </div>

      <button class="btn btn-danger" ng-click="create.deleteCard(card)">Delete card</button>
      <button class="btn" ng-click="create.moveUp(card)"><span class="fa fa-angle-up"></span></button>
      <button class="btn" ng-click="create.moveDown(card)"><span class="fa fa-angle-down"></span></button>
    </div> <!-- end ng-repeat for currently made cards -->

    <button class="btn btn-primary savedeckbtn" type="button" ng-click="create.handleSave()">Click to save the deck</button>

  </div>
</div>
