<div id="frontofcard" class="card">
  <div class="container">
    <h4><b>FRONT</b></h4>
    <p>text</p>
  </div>
</div>

<div id="backofcard" class="card">
  <div class="container">
    <h4><b>BACK</b></h4>
    <p>text</p>
  </div>
</div>

<!-- plus sign will be part of invididualcard.html, and so will minus sign -->

<!-- <!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Plus-sign Glyph</h2>
      <p>Plus-sign icon: <span class="glyphicon glyphicon-plus-sign"></span></p>
      <p>Plus-sign icon as a link:
        <a href="#">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </p>
      <p>Plus-sign icon on a button:
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus-sign"></span> Plus
        </button>
      </p>
      <p>Plus-sign icon on a styled link button:
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-plus-sign"></span> Plus
        </a>
      </p>
      <p>Unicode:
        <span class="glyphicon">&#xe081;</span>
      </p>
    </div>
  </body>
</html> -->
