<div ng-controller="EditPageCtrl as edit">
  <div class="container">

    <h3>DECK NAME: <input ng-model="edit.deck.deckname" /></h3>
    <div class="row">
      <div class="col-xs-5 flashcard">
        <h4>Question</h4>
        <hr>
        <textarea placeholder="Enter a question" ng-model="edit.newCard.front"></textarea>
      </div>

      <div class="col-xs-5 flashcard">
        <h4>Answer</h4>
        <hr>
        <textarea placeholder="Enter the answer" ng-keyup="$event.keyCode == 13 && edit.addCard(edit.newCard)" ng-model="edit.newCard.back"></textarea>
      </div>
    </div>

    <button class="btn btn-primary" ng-click="edit.addCard(edit.newCard)">Add card</button>

    <hr>

    <div ng-repeat="card in edit.deck.cards"> <!-- Start of list of currently made cards -->
      <div class="row">
        <div class="col-xs-5 flashcard">
          <h4>Question</h4>

          <div class="codeToggleBtn">
            <button ng-click="edit.toggleHighlightFront(card)" ng-class="{'btn': card.plaintextFront, 'btn btn-primary': !card.plaintextFront}">
              <span class="fa fa-code"></span>
            </button>
          </div>

          <hr>
          <textarea placeholder="Enter a question" ng-model="card.front"></textarea>
        </div>

        <div class="col-xs-5 flashcard">
          <h4>Answer</h4>

          <div class="codeToggleBtn">
            <button ng-click="edit.toggleHighlightBack(card)" ng-class="{'btn': card.plaintextBack, 'btn btn-primary': !card.plaintextBack}">
              <span class="fa fa-code"></span>
            </button>
          </div>

          <hr>
          <textarea placeholder="Enter the answer" ng-model="card.back"></textarea>
        </div>
      </div>

      <button class="btn btn-danger" ng-click="edit.deleteCard(card)">Delete card</button>
      <button class="btn" ng-click="edit.moveUp(card)"><span class="fa fa-angle-up"></span></button>
      <button class="btn" ng-click="edit.moveDown(card)"><span class="fa fa-angle-down"></span></button>
    </div> <!-- end ng-repeat for currently made cards -->

    <button class="btn btn-primary savedeckbtn" type="button" ng-click="edit.handleSave()">Save changes to this deck</button>

  </div>
</div>
