<div class="container loginContainer" ng-controller="LoginCtrl as login">
  <div class="row">
    <form class="accCreationForm col-xs-12 col-md-6">
      <h4>Create a New Account</h4>
      <input id="accName" type="text" placeholder="choose a username" ng-model="accName"/>
      <br />
      <input id="accPw" type="password" placeholder="password" ng-model="accPw"/>
      <br />
      <input id="accVerifyPw" type="password" placeholder="verify password" ng-model="accVerifyPw"/>
      <br />
      <button class="btn btn-primary">Sign Up</button>
    </form>

    <form class="loginForm col-xs-12 col-md-6">
      <h4>Login</h4>
      <input id="loginName" type="text" placeholder="username" ng-model="loginName"/>
      <br />
      <input id="loginPw" type="password" placeholder="password" ng-model="loginPw"/>
      <br />
      <button class="btn btn-primary" ng-click="login.login()">Log In</button>
    </form>
  </div>
</div>

