<div ng-controller="StudyCtrl as study">

  <div id="currentCard">
    <h1 id="cardbody" ng-if="study.front">{{ study.current.front }}</h1>
    <h1 id="cardbody" ng-if="!study.front">{{ study.current.back }}</h1>
  </div>

  <button id="flip" ng-click="study.handleFlip()">Flip card</button>
  <br>
  <button id="right" ng-click="study.handleRight()" ng-if="!study.front">Right</button>
  <button id="wrong" ng-click="study.handleWrong()" ng-if="!study.front">Wrong</button>
  <br>
  <button id="previous" ng-click="study.handlePrev()">Previous card</button>
  <button id="next" ng-click="study.handleNext()">Next card</button>
</div>
