<div ng-controller="StudyCtrl as study">

  <div class="flip">
    <div class="card panel panel-default" ng-class="{'flipped':study.flipped}" ng-click="study.handleFlip()">
      <div class="studycard face front panel-body" ng-if="study.front"><h3>{{ study.current.front }}</h3></div>
      <div class="studycard face back panel-body" ng-if="!study.front"><h3>{{ study.current.back }}</h3></div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="text-center col-xs-4">
      <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-success" ng-click="study.handleRight()" ng-if="false">Right</button>
      <button type="button" class="btn btn-default btn-danger" ng-click="study.handleWrong()" ng-if="false">Wrong</button>
      </div>
    </div> -->
    <div class="divParent">
      <div class="text-center col-xs-4">
        <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-info" id="previous" ng-disabled="!study.showPrev" ng-click="study.handlePrev()">Previous card</button>
        <button type="button" class="btn btn-default btn-primary" id="next" ng-disabled="!study.showNext" ng-click="study.handleNext()">Next card</button>
        </div>
      </div>

      <div class="text-center col-xs-4">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" id="save" ng-click="study.handleSave()">Save and quit</button>
        </div>
      </div>
    </div>
  </div>
</div>
