body {
  font-family: 'Raleway', sans-serif;
}

li {
  list-style-type: none;
}

.flashcard {
  box-shadow: 3px 3px 5px #888888;
  border: 1px solid gray;
  border-radius: 3px;
  padding-bottom: 10px;
  margin: 10px;
}

.flashcard textarea {
  resize: none;
  display: block;
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  display: none;
}

.flashcard h4 {
  text-align: center;
}

.savedeckbtn {
  margin-top: 10px;
}

table {
  table-layout: fixed;
}

td {
  word-wrap: break-word;
}

.studycard {
  box-shadow: 3px 3px 5px #888888;
  border: 1px solid gray;
  border-radius: 3px;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  height: 20em;
  padding: 3em;
}

.codeToggleBtn {
  float: right;
  clear: both;
}

.divParent {
  display: flex;
  justify-content: flex-end;
}

.divParent button {
  min-width: 111px;
}

hr {
  clear: both;
}

table {
  table-layout: fixed;
}

td {
  word-wrap: break-word;
}

tr button.buttonInTable {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form.accCreationForm, form.loginForm {
  padding: 0 12.5%;
}

.loginContainer {
  background-color: #F8F8F8;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  padding: 25px 20px;
}

form > * {
  padding: 4px;
  margin: 8px;
}

.flip {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
/*     background-color: grey; */
}

.flip .card.flipped {
  transition: transform 0.5s linear;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  margin: 0 auto;
  z-index: 1;
}

.flip .card {
  transition: transform 0.5s linear;
  transform-origin: center;
  transform-style: preserve-3d;
  margin: 0 auto;
  width: 40%;
}

.flip .card .face {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.flip .card .front {
  position: relative;
  -webkit-backface-visibility: hidden;
}

.flip .card .back {
  transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
  position: relative;
}

#onClickShowSavedForUserSide {
  animation-name: showSavedAfterClick;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
  animation-direction: initial;
  opacity: 0;
  font-family: 'Raleway', sans-serif;
}

.ng-show {
  animation: 1s showSavedAfterClick;
}

@keyframes showSavedAfterClick {
  0%   {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 0;}
}
